:root {
  --background: #f6f7f9;
  --foreground: #171717;

  --main400: #1c6bff;
  --main600: #244bd7;
  --text1: #222222;
  --text2: #5f646f;
  --text3: #9397a1;
  --text-disabled: #c5c8ce;
  --text-ghost: #abb0b9;
  --red: #ee4700;
  --orange: #ff881a;
  --yellow: #f9a80c;
  --green: #00bb2a;
  --white: #ffffff;
  --border1: #e2e5eb;
  --border2: #ebeef1;
  --container-background: #fff;

  --neutral-900: #222222;
  --neutral-800: #434855;
  --neutral-700: #5f646f;
  --neutral-600: #9397a1;
  --neutral-500: #abb0b9;
  --neutral-400: #c5c8ce;
  --neutral-200: #e2e5eb;
  --neutral-150: #ebeef1;
  --neutral-100: #f2f4f8;
  --neutral-50: #fbfbfd;
  --neutral-20: #fdfdfe;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

html,
body {
  max-width: 100vw;
  font-size: 62.5%;
  line-height: 1;
}
html {
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: "SUIT-Variable";
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
  overflow-y: scroll;
  overscroll-behavior-y: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 29, 58, 0.18) transparent;
}

a {
  color: inherit;
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
input,
button,
textarea,
select,
option {
  background: none;
  border: none;
  outline: none;
  border-radius: 0px;
}
button {
  font: inherit;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
